/*----- Globais------*/

:root {
  --verde-agua: #009999;
  --cinza-medio: #999;
}


body{
	font-family: 'Roboto', sans-serif;
}

footer{
	background: #ccc;
	text-transform: uppercase;
	color: #666;
	font-weight: bold;
	padding: 20px 0;
	text-align: center;
}

input{
	border: 1px solid var(--verde-agua);
}

li{
	list-style: none;
}

h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	color: var(--cinza-medio);
	margin-top: 40px;
}

h2{
	text-transform: uppercase;
	font-size: 14px;
	color: var(--cinza-medio);
}

.line{
	border-top: 3px dotted var(--verde-agua);
	margin-top: 20px;
}

.banner{
	object-fit: cover;
	max-height: 300px;
	width: 100%;
}

.sort-order{
	padding: 20px;
}

.sort-order-info{
	padding: 0;
	border: 3px dotted var(--cinza-medio);
	padding: 10px;
	text-transform: uppercase;
}

/*--- Cores -----*/

.bg-cinza{
	background: #ccc;
}

.bg-verde{
	background: var(--verde-agua);
}

/* ---- Fim Cores ----*/

.flex{
	display: flex;
	display: -webkit-flex;
}

.flex-center{
	justify-content: center;
	-webkit-justify-content: center;
}

/*---- Header ----*/
	
	.header__init{
		padding: 20px 0;
		align-items: center;
		-webkit-align-items: center;
	}


	/*---- Menu ----*/

	.menu{
		border-bottom: 3px dotted var(--verde-agua);
		border-top: 3px dotted var(--verde-agua);
		position: relative;
	}

		.menu__ul{
			margin-bottom: 0;
			padding: 0;
		}

			.menu__ul > li:hover .submenu{
				display: block;
			}

			.menu__ul li{
				padding: 20px 0;
			}

			.menu__ul a{
				color: var(--verde-agua);
				font-weight: bold;
				text-transform: uppercase;
				width: 100%;
			}

		.submenu{
			width: 100%;
			background: var(--verde-agua);
			display: none;
			position: absolute;
		    top: 63px;
		    padding: 20px;
		    z-index: 99;
		}

			.submenu li{
				padding: 8px 0;
			}

			.submenu a{
				color: #fff;
			}
	/*---- Fim menu ----*/

/*---- Fim Header ----*/


.index,
.categoria,
.produto{
	padding: 0;
}

.produto{
	padding: 40px 0;
}

.products__grid{
    padding: 20px;
	text-align: center;
}

.products__grid img{
	padding: 0;
	width: 100%;
}

.products__grid-price{
	font-size: 22px;
	font-weight: bold;
	color: var(--verde-agua);
}

.produto_img{
	padding: 0;
}

.produto_img img{
	width: 94%!important;
    object-fit: cover;
    position: relative;
    max-height: 300px;
}

.produto__info-text{
	text-align: left;
}

.produto__info-text h1{
	text-align: left;
	margin-top: 0;
	padding-left: 15px;
	font-size: 25px;
}

.produto__info-text .price{
	font-size: 30px;
	color: var(--verde-agua);
	font-weight: bold;
}


.produto__info-text input{
	width: 50%;
	margin-top: 30px;
	border: 1px solid #ccc;
	padding: 10px;
}


.add-carrinho{
	width: 48%;
	background: var(--verde-agua);
	padding: 10px;
	border: 3px dotted #fff;
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	margin-top: 40px;
	margin-left: 15px;
}

.carrinho{
	margin-right: 10px;
	position: relative;
	bottom: 3px;
}

#galeria{
	padding-left: 20px;
}

#tabs{
	background: #ccc;
	margin-top: 40px;
}

#tabs div{
	padding: 20px;
}

#tabs ul{
	background: #fff;
	padding-left: 10px;
}

#tabs ul li{
	background: #ccc;
	padding: 10px 20px;
	border-top: 3px dotted #fff;
	border-left: 3px dotted #fff;
}

#tabs ul li:last-child{
	border-right: 3px dotted #fff;
}

#tabs ul li a{
	color: var(--verde-agua);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}

.ui-tabs-panel{
	padding: 20px;
}

.logo{
   width: 180px;
}